@font-face {
	font-family: 'Glabs';
	src:url('http://www.agenvida.com/static/fonts/Glabs.eot');
	src:url('http://www.agenvida.com/static/fonts/Glabs.eot?#iefix') format('embedded-opentype'),
		url('http://www.agenvida.com/static/fonts/Glabs.woff') format('woff'),
		url('http://www.agenvida.com/static/fonts/Glabs.ttf') format('truetype'),
		url('http://www.agenvida.com/static/fonts/Glabs.svg#Glabs') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-glabs"], [class*=" icon-glabs"] {
	font-family: 'Glabs';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-glabsglass:before {
	content: "\e600";
}
.icon-glabsmusic:before {
	content: "\e601";
}
.icon-glabssearch:before {
	content: "\e602";
}
.icon-glabsenvelope:before {
	content: "\e603";
}
.icon-glabsheart:before {
	content: "\e604";
}
.icon-glabsstar:before {
	content: "\e605";
}
.icon-glabsstar-empty:before {
	content: "\e606";
}
.icon-glabsuser:before {
	content: "\e607";
}
.icon-glabsfilm:before {
	content: "\e608";
}
.icon-glabsth-large:before {
	content: "\e609";
}
.icon-glabsth:before {
	content: "\e60a";
}
.icon-glabsth-list:before {
	content: "\e60b";
}
.icon-glabsok:before {
	content: "\e60c";
}
.icon-glabsremove:before {
	content: "\e60d";
}
.icon-glabszoom-in:before {
	content: "\e60e";
}
.icon-glabszoom-out:before {
	content: "\e60f";
}
.icon-glabsoff:before {
	content: "\e610";
}
.icon-glabssignal:before {
	content: "\e611";
}
.icon-glabscog:before {
	content: "\e612";
}
.icon-glabstrash:before {
	content: "\e613";
}
.icon-glabshome:before {
	content: "\e614";
}
.icon-glabsfile:before {
	content: "\e615";
}
.icon-glabstime:before {
	content: "\e616";
}
.icon-glabsroad:before {
	content: "\e617";
}
.icon-glabsdownload-alt:before {
	content: "\e618";
}
.icon-glabsdownload:before {
	content: "\e619";
}
.icon-glabsupload:before {
	content: "\e61a";
}
.icon-glabsinbox:before {
	content: "\e61b";
}
.icon-glabsplay-circle:before {
	content: "\e61c";
}
.icon-glabsrepeat:before {
	content: "\e61d";
}
.icon-glabsrefresh:before {
	content: "\e61e";
}
.icon-glabslist-alt:before {
	content: "\e61f";
}
.icon-glabslock:before {
	content: "\e620";
}
.icon-glabsflag:before {
	content: "\e621";
}
.icon-glabsheadphones:before {
	content: "\e622";
}
.icon-glabsvolume-off:before {
	content: "\e623";
}
.icon-glabsvolume-down:before {
	content: "\e624";
}
.icon-glabsvolume-up:before {
	content: "\e625";
}
.icon-glabsqrcode:before {
	content: "\e626";
}
.icon-glabsbarcode:before {
	content: "\e627";
}
.icon-glabstag:before {
	content: "\e628";
}
.icon-glabstags:before {
	content: "\e629";
}
.icon-glabsbook:before {
	content: "\e62a";
}
.icon-glabsbookmark:before {
	content: "\e62b";
}
.icon-glabsprint:before {
	content: "\e62c";
}
.icon-glabscamera:before {
	content: "\e62d";
}
.icon-glabsfont:before {
	content: "\e62e";
}
.icon-glabsbold:before {
	content: "\e62f";
}
.icon-glabsitalic:before {
	content: "\e630";
}
.icon-glabstext-height:before {
	content: "\e631";
}
.icon-glabstext-width:before {
	content: "\e632";
}
.icon-glabsalign-left:before {
	content: "\e633";
}
.icon-glabsalign-center:before {
	content: "\e634";
}
.icon-glabsalign-right:before {
	content: "\e635";
}
.icon-glabsalign-justify:before {
	content: "\e636";
}
.icon-glabslist:before {
	content: "\e637";
}
.icon-glabsindent-left:before {
	content: "\e638";
}
.icon-glabsindent-right:before {
	content: "\e639";
}
.icon-glabsfacetime-video:before {
	content: "\e63a";
}
.icon-glabspicture:before {
	content: "\e63b";
}
.icon-glabspencil:before {
	content: "\e63c";
}
.icon-glabsmap-marker:before {
	content: "\e63d";
}
.icon-glabsadjust:before {
	content: "\e63e";
}
.icon-glabstint:before {
	content: "\e63f";
}
.icon-glabsedit:before {
	content: "\e640";
}
.icon-glabsshare:before {
	content: "\e641";
}
.icon-glabscheck:before {
	content: "\e642";
}
.icon-glabsmove:before {
	content: "\e643";
}
.icon-glabsstep-backward:before {
	content: "\e644";
}
.icon-glabsfast-backward:before {
	content: "\e645";
}
.icon-glabsbackward:before {
	content: "\e646";
}
.icon-glabsplay:before {
	content: "\e647";
}
.icon-glabspause:before {
	content: "\e648";
}
.icon-glabsstop:before {
	content: "\e649";
}
.icon-glabsforward:before {
	content: "\e64a";
}
.icon-glabsfast-forward:before {
	content: "\e64b";
}
.icon-glabsstep-forward:before {
	content: "\e64c";
}
.icon-glabseject:before {
	content: "\e64d";
}
.icon-glabschevron-left:before {
	content: "\e64e";
}
.icon-glabschevron-right:before {
	content: "\e64f";
}
.icon-glabsplus-sign:before {
	content: "\e650";
}
.icon-glabsminus-sign:before {
	content: "\e651";
}
.icon-glabsremove-sign:before {
	content: "\e652";
}
.icon-glabsok-sign:before {
	content: "\e653";
}
.icon-glabsquestion-sign:before {
	content: "\e654";
}
.icon-glabsinfo-sign:before {
	content: "\e655";
}
.icon-glabsscreenshot:before {
	content: "\e656";
}
.icon-glabsremove-circle:before {
	content: "\e657";
}
.icon-glabsok-circle:before {
	content: "\e658";
}
.icon-glabsban-circle:before {
	content: "\e659";
}
.icon-glabsarrow-left:before {
	content: "\e65a";
}
.icon-glabsarrow-right:before {
	content: "\e65b";
}
.icon-glabsarrow-up:before {
	content: "\e65c";
}
.icon-glabsarrow-down:before {
	content: "\e65d";
}
.icon-glabsshare-alt:before {
	content: "\e65e";
}
.icon-glabsresize-full:before {
	content: "\e65f";
}
.icon-glabsresize-small:before {
	content: "\e660";
}
.icon-glabsplus:before {
	content: "\e661";
}
.icon-glabsminus:before {
	content: "\e662";
}
.icon-glabsasterisk:before {
	content: "\e663";
}
.icon-glabsexclamation-sign:before {
	content: "\e664";
}
.icon-glabsgift:before {
	content: "\e665";
}
.icon-glabsleaf:before {
	content: "\e666";
}
.icon-glabsfire:before {
	content: "\e667";
}
.icon-glabseye-open:before {
	content: "\e668";
}
.icon-glabseye-close:before {
	content: "\e669";
}
.icon-glabswarning-sign:before {
	content: "\e66a";
}
.icon-glabsplane:before {
	content: "\e66b";
}
.icon-glabscalendar:before {
	content: "\e66c";
}
.icon-glabsrandom:before {
	content: "\e66d";
}
.icon-glabscomment:before {
	content: "\e66e";
}
.icon-glabsmagnet:before {
	content: "\e66f";
}
.icon-glabschevron-up:before {
	content: "\e670";
}
.icon-glabschevron-down:before {
	content: "\e671";
}
.icon-glabsretweet:before {
	content: "\e672";
}
.icon-glabsshopping-cart:before {
	content: "\e673";
}
.icon-glabsfolder-close:before {
	content: "\e674";
}
.icon-glabsfolder-open:before {
	content: "\e675";
}
.icon-glabsresize-vertical:before {
	content: "\e676";
}
.icon-glabsresize-horizontal:before {
	content: "\e677";
}
.icon-glabsbar-chart:before {
	content: "\e678";
}
.icon-glabstwitter-sign:before {
	content: "\e679";
}
.icon-glabsfacebook-sign:before {
	content: "\e67a";
}
.icon-glabscamera-retro:before {
	content: "\e67b";
}
.icon-glabskey:before {
	content: "\e67c";
}
.icon-glabscogs:before {
	content: "\e67d";
}
.icon-glabscomments:before {
	content: "\e67e";
}
.icon-glabsthumbs-up:before {
	content: "\e67f";
}
.icon-glabsthumbs-down:before {
	content: "\e680";
}
.icon-glabsstar-half:before {
	content: "\e681";
}
.icon-glabsheart-empty:before {
	content: "\e682";
}
.icon-glabssignout:before {
	content: "\e683";
}
.icon-glabslinkedin-sign:before {
	content: "\e684";
}
.icon-glabspushpin:before {
	content: "\e685";
}
.icon-glabsexternal-link:before {
	content: "\e686";
}
.icon-glabssignin:before {
	content: "\e687";
}
.icon-glabstrophy:before {
	content: "\e688";
}
.icon-glabsgithub-sign:before {
	content: "\e689";
}
.icon-glabsupload-alt:before {
	content: "\e68a";
}
.icon-glabslemon:before {
	content: "\e68b";
}
.icon-glabsphone:before {
	content: "\e68c";
}
.icon-glabscheck-empty:before {
	content: "\e68d";
}
.icon-glabsbookmark-empty:before {
	content: "\e68e";
}
.icon-glabsphone-sign:before {
	content: "\e68f";
}
.icon-glabstwitter:before {
	content: "\e690";
}
.icon-glabsfacebook:before {
	content: "\e691";
}
.icon-glabsgithub:before {
	content: "\e692";
}
.icon-glabsunlock:before {
	content: "\e693";
}
.icon-glabscredit:before {
	content: "\e694";
}
.icon-glabsrss:before {
	content: "\e695";
}
.icon-glabshdd:before {
	content: "\e696";
}
.icon-glabsbullhorn:before {
	content: "\e697";
}
.icon-glabsbell:before {
	content: "\e698";
}
.icon-glabscertificate:before {
	content: "\e699";
}
.icon-glabshand-right:before {
	content: "\e69a";
}
.icon-glabshand-left:before {
	content: "\e69b";
}
.icon-glabshand-up:before {
	content: "\e69c";
}
.icon-glabshand-down:before {
	content: "\e69d";
}
.icon-glabscircle-arrow-left:before {
	content: "\e69e";
}
.icon-glabscircle-arrow-right:before {
	content: "\e69f";
}
.icon-glabscircle-arrow-up:before {
	content: "\e6a0";
}
.icon-glabscircle-arrow-down:before {
	content: "\e6a1";
}
.icon-glabsglobe:before {
	content: "\e6a2";
}
.icon-glabswrench:before {
	content: "\e6a3";
}
.icon-glabstasks:before {
	content: "\e6a4";
}
.icon-glabsfilter:before {
	content: "\e6a5";
}
.icon-glabsbriefcase:before {
	content: "\e6a6";
}
.icon-glabsfullscreen:before {
	content: "\e6a7";
}
.icon-glabsgroup:before {
	content: "\e6a8";
}
.icon-glabslink:before {
	content: "\e6a9";
}
.icon-glabscloud:before {
	content: "\e6aa";
}
.icon-glabsbeaker:before {
	content: "\e6ab";
}
.icon-glabscut:before {
	content: "\e6ac";
}
.icon-glabscopy:before {
	content: "\e6ad";
}
.icon-glabspaper-clip:before {
	content: "\e6ae";
}
.icon-glabssave:before {
	content: "\e6af";
}
.icon-glabssign-blank:before {
	content: "\e6b0";
}
.icon-glabsreorder:before {
	content: "\e6b1";
}
.icon-glabslist-ul:before {
	content: "\e6b2";
}
.icon-glabslist-ol:before {
	content: "\e6b3";
}
.icon-glabsstrikethrough:before {
	content: "\e6b4";
}
.icon-glabsunderline:before {
	content: "\e6b5";
}
.icon-glabstable:before {
	content: "\e6b6";
}
.icon-glabsmagic:before {
	content: "\e6b7";
}
.icon-glabstruck:before {
	content: "\e6b8";
}
.icon-glabspinterest:before {
	content: "\e6b9";
}
.icon-glabspinterest-sign:before {
	content: "\e6ba";
}
.icon-glabsgoogle-plus-sign:before {
	content: "\e6bb";
}
.icon-glabsgoogle-plus:before {
	content: "\e6bc";
}
.icon-glabsmoney:before {
	content: "\e6bd";
}
.icon-glabscaret-down:before {
	content: "\e6be";
}
.icon-glabscaret-up:before {
	content: "\e6bf";
}
.icon-glabscaret-left:before {
	content: "\e6c0";
}
.icon-glabscaret-right:before {
	content: "\e6c1";
}
.icon-glabscolumns:before {
	content: "\e6c2";
}
.icon-glabssort:before {
	content: "\e6c3";
}
.icon-glabssort-down:before {
	content: "\e6c4";
}
.icon-glabssort-up:before {
	content: "\e6c5";
}
.icon-glabsenvelope-alt:before {
	content: "\e6c6";
}
.icon-glabslinkedin:before {
	content: "\e6c7";
}
.icon-glabsundo:before {
	content: "\e6c8";
}
.icon-glabslegal:before {
	content: "\e6c9";
}
.icon-glabsdashboard:before {
	content: "\e6ca";
}
.icon-glabscomment-alt:before {
	content: "\e6cb";
}
.icon-glabscomments-alt:before {
	content: "\e6cc";
}
.icon-glabsbolt:before {
	content: "\e6cd";
}
.icon-glabssitemap:before {
	content: "\e6ce";
}
.icon-glabsumbrella:before {
	content: "\e6cf";
}
.icon-glabspaste:before {
	content: "\e6d0";
}
.icon-glabslightbulb:before {
	content: "\e6d1";
}
.icon-glabsexchange:before {
	content: "\e6d2";
}
.icon-glabscloud-download:before {
	content: "\e6d3";
}
.icon-glabscloud-upload:before {
	content: "\e6d4";
}
.icon-glabsuser-md:before {
	content: "\e6d5";
}
.icon-glabsstethoscope:before {
	content: "\e6d6";
}
.icon-glabssuitcase:before {
	content: "\e6d7";
}
.icon-glabsbell-alt:before {
	content: "\e6d8";
}
.icon-glabscoffee:before {
	content: "\e6d9";
}
.icon-glabsfood:before {
	content: "\e6da";
}
.icon-glabsfile-alt:before {
	content: "\e6db";
}
.icon-glabsbuilding:before {
	content: "\e6dc";
}
.icon-glabshospital:before {
	content: "\e6dd";
}
.icon-glabsambulance:before {
	content: "\e6de";
}
.icon-glabsmedkit:before {
	content: "\e6df";
}
.icon-glabsfighter-jet:before {
	content: "\e6e0";
}
.icon-glabsbeer:before {
	content: "\e6e1";
}
.icon-glabsh-sign:before {
	content: "\e6e2";
}
.icon-glabsplus-sign2:before {
	content: "\e6e3";
}
.icon-glabsdouble-angle-left:before {
	content: "\e6e4";
}
.icon-glabsdouble-angle-right:before {
	content: "\e6e5";
}
.icon-glabsdouble-angle-up:before {
	content: "\e6e6";
}
.icon-glabsdouble-angle-down:before {
	content: "\e6e7";
}
.icon-glabsangle-left:before {
	content: "\e6e8";
}
.icon-glabsangle-right:before {
	content: "\e6e9";
}
.icon-glabsangle-up:before {
	content: "\e6ea";
}
.icon-glabsangle-down:before {
	content: "\e6eb";
}
.icon-glabsdesktop:before {
	content: "\e6ec";
}
.icon-glabslaptop:before {
	content: "\e6ed";
}
.icon-glabstablet:before {
	content: "\e6ee";
}
.icon-glabsmobile:before {
	content: "\e6ef";
}
.icon-glabscircle-blank:before {
	content: "\e6f0";
}
.icon-glabsquote-left:before {
	content: "\e6f1";
}
.icon-glabsquote-right:before {
	content: "\e6f2";
}
.icon-glabsspinner:before {
	content: "\e6f3";
}
.icon-glabscircle:before {
	content: "\e6f4";
}
.icon-glabsreply:before {
	content: "\e6f5";
}
.icon-glabsgithub-alt:before {
	content: "\e6f6";
}
.icon-glabsfolder-close-alt:before {
	content: "\e6f7";
}
.icon-glabsfolder-open-alt:before {
	content: "\e6f8";
}
.icon-glabsexpand-alt:before {
	content: "\e6f9";
}
.icon-glabscollapse-alt:before {
	content: "\e6fa";
}
.icon-glabssmile:before {
	content: "\e6fb";
}
.icon-glabsfrown:before {
	content: "\e6fc";
}
.icon-glabsmeh:before {
	content: "\e6fd";
}
.icon-glabsgamepad:before {
	content: "\e6fe";
}
.icon-glabskeyboard:before {
	content: "\e6ff";
}
.icon-glabsflag-alt:before {
	content: "\e700";
}
.icon-glabsflag-checkered:before {
	content: "\e701";
}
.icon-glabsterminal:before {
	content: "\e702";
}
.icon-glabscode:before {
	content: "\e703";
}
.icon-glabsreply-all:before {
	content: "\e704";
}
.icon-glabsstar-half-full:before {
	content: "\e705";
}
.icon-glabslocation-arrow:before {
	content: "\e706";
}
.icon-glabscrop:before {
	content: "\e707";
}
.icon-glabscode-fork:before {
	content: "\e708";
}
.icon-glabsunlink:before {
	content: "\e709";
}
.icon-glabsquestion:before {
	content: "\e70a";
}
.icon-glabsinfo:before {
	content: "\e70b";
}
.icon-glabsexclamation:before {
	content: "\e70c";
}
.icon-glabssuperscript:before {
	content: "\e70d";
}
.icon-glabssubscript:before {
	content: "\e70e";
}
.icon-glabseraser:before {
	content: "\e70f";
}
.icon-glabspuzzle:before {
	content: "\e710";
}
.icon-glabsmicrophone:before {
	content: "\e711";
}
.icon-glabsmicrophone-off:before {
	content: "\e712";
}
.icon-glabsshield:before {
	content: "\e713";
}
.icon-glabscalendar-empty:before {
	content: "\e714";
}
.icon-glabsfire-extinguisher:before {
	content: "\e715";
}
.icon-glabsrocket:before {
	content: "\e716";
}
.icon-glabsmaxcdn:before {
	content: "\e717";
}
.icon-glabschevron-sign-left:before {
	content: "\e718";
}
.icon-glabschevron-sign-right:before {
	content: "\e719";
}
.icon-glabschevron-sign-up:before {
	content: "\e71a";
}
.icon-glabschevron-sign-down:before {
	content: "\e71b";
}
.icon-glabshtml5:before {
	content: "\e71c";
}
.icon-glabscss3:before {
	content: "\e71d";
}
.icon-glabsanchor:before {
	content: "\e71e";
}
.icon-glabsunlock-alt:before {
	content: "\e71f";
}
.icon-glabsbullseye:before {
	content: "\e720";
}
.icon-glabsellipsis-horizontal:before {
	content: "\e721";
}
.icon-glabsellipsis-vertical:before {
	content: "\e722";
}
.icon-glabsrss-sign:before {
	content: "\e723";
}
.icon-glabsplay-sign:before {
	content: "\e724";
}
.icon-glabsticket:before {
	content: "\e725";
}
.icon-glabsminus-sign-alt:before {
	content: "\e726";
}
.icon-glabscheck-minus:before {
	content: "\e727";
}
.icon-glabslevel-up:before {
	content: "\e728";
}
.icon-glabslevel-down:before {
	content: "\e729";
}
.icon-glabscheck-sign:before {
	content: "\e72a";
}
.icon-glabsedit-sign:before {
	content: "\e72b";
}
.icon-glabsexternal-link-sign:before {
	content: "\e72c";
}
.icon-glabsshare-sign:before {
	content: "\e72d";
}
.icon-glabscompass:before {
	content: "\e72e";
}
.icon-glabscollapse:before {
	content: "\e72f";
}
.icon-glabscollapse-top:before {
	content: "\e730";
}
.icon-glabsexpand:before {
	content: "\e731";
}
.icon-glabseuro:before {
	content: "\e732";
}
.icon-glabsgbp:before {
	content: "\e733";
}
.icon-glabsdollar:before {
	content: "\e734";
}
.icon-glabsrupee:before {
	content: "\e735";
}
.icon-glabsyen:before {
	content: "\e736";
}
.icon-glabsrenminbi:before {
	content: "\e737";
}
.icon-glabswon:before {
	content: "\e738";
}
.icon-glabsbitcoin:before {
	content: "\e739";
}
.icon-glabsfile2:before {
	content: "\e73a";
}
.icon-glabsfile-text:before {
	content: "\e73b";
}
.icon-glabssort-by-alphabet:before {
	content: "\e73c";
}
.icon-glabssort-by-alphabet-alt:before {
	content: "\e73d";
}
.icon-glabssort-by-attributes:before {
	content: "\e73e";
}
.icon-glabssort-by-attributes-alt:before {
	content: "\e73f";
}
.icon-glabssort-by-order:before {
	content: "\e740";
}
.icon-glabssort-by-order-alt:before {
	content: "\e741";
}
.icon-glabsthumbs-up2:before {
	content: "\e742";
}
.icon-glabsthumbs-down2:before {
	content: "\e743";
}
.icon-glabsyoutube-sign:before {
	content: "\e744";
}
.icon-glabsyoutube:before {
	content: "\e745";
}
.icon-glabsxing:before {
	content: "\e746";
}
.icon-glabsxing-sign:before {
	content: "\e747";
}
.icon-glabsyoutube-play:before {
	content: "\e748";
}
.icon-glabsdropbox:before {
	content: "\e749";
}
.icon-glabsstackexchange:before {
	content: "\e74a";
}
.icon-glabsinstagram:before {
	content: "\e74b";
}
.icon-glabsflickr:before {
	content: "\e74c";
}
.icon-glabsadn:before {
	content: "\e74d";
}
.icon-glabsbitbucket:before {
	content: "\e74e";
}
.icon-glabsbitbucket-sign:before {
	content: "\e74f";
}
.icon-glabstumblr:before {
	content: "\e750";
}
.icon-glabstumblr-sign:before {
	content: "\e751";
}
.icon-glabslong-arrow-down:before {
	content: "\e752";
}
.icon-glabslong-arrow-up:before {
	content: "\e753";
}
.icon-glabslong-arrow-left:before {
	content: "\e754";
}
.icon-glabslong-arrow-right:before {
	content: "\e755";
}
.icon-glabsapple:before {
	content: "\e756";
}
.icon-glabswindows:before {
	content: "\e757";
}
.icon-glabsandroid:before {
	content: "\e758";
}
.icon-glabslinux:before {
	content: "\e759";
}
.icon-glabsdribbble:before {
	content: "\e75a";
}
.icon-glabsskype:before {
	content: "\e75b";
}
.icon-glabsfoursquare:before {
	content: "\e75c";
}
.icon-glabstrello:before {
	content: "\e75d";
}
.icon-glabsfemale:before {
	content: "\e75e";
}
.icon-glabsmale:before {
	content: "\e75f";
}
.icon-glabsgittip:before {
	content: "\e760";
}
.icon-glabssun:before {
	content: "\e761";
}
.icon-glabsmoon:before {
	content: "\e762";
}
.icon-glabsarchive:before {
	content: "\e763";
}
.icon-glabsbug:before {
	content: "\e764";
}
.icon-glabsvk:before {
	content: "\e765";
}
.icon-glabsweibo:before {
	content: "\e766";
}
.icon-glabsrenren:before {
	content: "\e767";
}
