
{% extends "login/login_base.html" %}
 
{% block sidebar %}
    <!--<div id="login">
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>
        {% load socialaccount %}
    <p> Ingresar con  <a href="{%  provider_login_url 'twitter' %}">Twitter</a> </p>
    </div>
-->
{% block mensajes %}
{% endblock %}

              <form class="pure-form" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
                  <fieldset class="pure-group">
                    <legend>Login</legend>
                      <input type="text" class="pure-input-1-2" id="username" name="username" placeholder="Username">
                      <input type="password" class="pure-input-1-2" name="password" id="password" placeholder="Password">
                      
                  </fieldset>

                  <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Entrar</button>
              </form>

{% endblock %}

