<!DOCTYPE HTML> <!-- Creado por @GisseJo y @RodriValdez5 para @Agenvida -->
<html lang='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/pure/marketing.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/pure/pure.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/main4.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen" />
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
    <script>
        $(function() {
            var pull        = $('#pull');
                menu        = $('nav ul');
                menuHeight  = menu.height();

            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>    
    <style>
      .about {
        width: 65%;
        margin-left: 20%;
        text-align: justify;
        
      }

      .img-sing {
        width: 60%;
        margin-left: 22%;
      }
        
      .fotoperfil {
        width: 40%;
      }

      .pasos {
        
      }
      }
        /**600**/
          @media screen and (max-width: 600px) {  
            .img-sing {
              display: none;
            }       

            .pure-form-stacked {
             margin-top: 10%; 
            }
            
          }  

      /**480px o menos**/

          @media only screen and (max-width : 480px) {  
            .img-sing {
              display: none;
            }        

            .pure-form-stacked {
              
            }
          
          } 


          @media only screen and (max-width : 320px) {  
             .img-sing {
              display: none;
            }       
          }  
      }
    </style>
</head>
<body>
    
    <nav class="clearfix">  
        <ul class="clearfix">  
             <li class="logo"><img class='imagen-logo' src="{{STATIC_URL}}img/agenvidaicono.png" alt="Agenvida"></li>
            
            <li><a href="/about">Sobre</a></li>  
            <li><a href="http://blog.agenvida.com">Blog</a></li>
            <li><a href="http://www.facebook.com/agenvida"><img class='img-redes'src="{{STATIC_URL}}img/logofb.png"></a></li>
            <li><a href="http://www.twitter.com/agenvida"><img class='img-redes' src="{{STATIC_URL}}img/logotw.png"></a></li>  
            <li><a href="/contacto">Contacto</a></li>  
        </ul>  
        <a href="#" id="pull">Menu</a>
    </nav>


    <div class="splash">
            <div class="pure-g-r">
              <div class="pure-u-1 about">
                <div class="pure-u-1 l-centered">
                        <img src="{{STATIC_URL}}img/agenvidaabout.jpg">
                </div>
                <div class="1-box">
                  <h1>Agenvida</h1>
                  <h4>Es el horario espiritual online, así como el que venías usando hasta ahora pero en la comodidad de tu pc, notebook o celular.</h4>
                </div>
                <div class="1-box">
                  <h3>¿Qué es un horario espiritual?</h3>
                  <p>Es una herramienta de <b title="Acción de hacerse cargo uno mismo de la formación de la propia personalidad" style="cursor:help; color:red; text-decoration:underline;">autoeducación</b> a través del "control" de <b title="Intenciones concretas que pueden ser acciones que cuestan, sacrificios u ofrecimientos" style="cursor:help; color:red; text-decoration:underline;">propósitos</b> ordenados en <b title="Dimensiones baásicas por las que aseguramos el desarrollo de nuestra personalidad" style="cursor:help; color:red; text-decoration:underline;">vinculaciones</b>.</p>
                  <p>Básicamente consiste en una "planilla" en donde se listan las cuatro vinculaciones:
                    <ul>
                      <li>Con Dios</li>
                      <li>Conmigo mismo</li>
                      <li>Con los demas</li>
                      <li>Con la naturaleza, las cosas, el estudio y el trabajo</li>
                    </ul>
                  </p>
                  <p>Algo así:</p>
                    <div class="pure-u-1 l-centered">
                        <img src="{{STATIC_URL}}img/screenabout.png">
                    </div>
                </div>

                <div clas="1-box">
                  <h3>Un poco de historia</h3>
                  <p>Vimos que nuestros conocidos y nosotros también teniamos una necesidad de tener el horario espiritual (herramienta utilizada por los miembros del <b title="Es un movimiento mariano de la Iglesia Católica, difundido en todos los continentes. Tiene como objetivo principal la renovación religiosa moral del hombre y de la sociedad. De Schoenstatt surge el horario espiritual" style="cursor:help; color:red; text-decoration:underline;">Movimiento de Schoenstatt</b>) en una versión web. Ya que uno de los mayores "problemas" para completarlo es acordarse y tener el "<b title="La forma tradicional de llevar el control del horario espiritual es un cuadernito con las 'planillas' por mes" style="cursor:help; color:red; text-decoration:underline;">cuadernito</b>" consigo todo el tiempo.
                  </p>
                  <p>Esta necesidad, más el deseo mutuo de aprender a programar, decidimos emprender este proyecto: <b>Agenvida, el horario espiritual en la web</b>.</p>
                </div>
                <div class="pure-grid grid-example">
                  <h3>¿Quienes somos?</h3>
                  <p>El equipo esta conformado por:</p>
                            <img class="fotoperfil" src="{{STATIC_URL}}img/rodriav.jpg">
                            <img class="fotoperfil" src="{{STATIC_URL}}img/gisseav.jpg">
                </div>
                <div>
                    <h3>Como funciona</h3>

                
                  <div>
                    <div class="pure-g-r grid-example">
                    <div class="pure-u-2-5">
                        <div class="l-box">
                            <h3>Registro</h3>
                            <p>El primer paso es registrarte. Podés hacerlo con tu email o con Twitter.</p>
                        </div>
                    </div>
                    <div class="pure-u-3-5">
                        <div class="l-box">
                          <img class="pasos" src="{{STATIC_URL}}img/paso1.jpg">
                        </div>
                    </div>
                    <div class="pure-u-3-5">
                        <div class="l-box">
                          <img class="pasos" src="{{STATIC_URL}}img/paso2.jpg">
                        </div>
                    </div>
                    <div class="pure-u-2-5">
                        <div class="l-box">
                            <h3>Contrato</h3>
                            <p>Luego es hora de completar tu contrato pedagógico, que es el compromiso anual donde se reflexiona sobre qué valores y actitudes se quieren afirmar, liberar y adquirir cada año.</p>
                        </div>
                    </div>
                    <div class="pure-u-2-5">
                        <div class="l-box">
                            <h3>Horario Espiritual</h3>
                            <p>Y es hora de configurar la "planilla", agregando el propósito particular, los propósitos correspondientes a cada vinculación y finalmente.. a completar cada día tu horario espiritual!</p>
                        </div>
                    </div>
                    <div class="pure-u-3-5">
                        <div class="l-box">
                          <img class="pasos" src="{{STATIC_URL}}img/paso3.jpg">
                        </div>
                    </div>
                  </div>
                  <div class="pure-g-r grid-example">
                    <div class="pure-1-1 1-centered">
                      <img class="g" src="{{STATIC_URL}}img/faq.jpg" >

                    </div>

                      <div class="pure-u-1-2">
                        <div class="l-box">
                            <h3>¿Van a poder ver mis propósitos y mis marcaciones?</h3>
                            <p>
                                Los demás usuarios de Agenvida no podrán ver ni tus propósitos, ni tus marcaciones, ni siquiera podrán saber que estás usando Agenvida. Con respecto a tus datos están bien protegidos y desde Agenvida te aseguramos confidencialidad.
                            </p>
                        </div>
                    </div>

                    <div class="pure-u-1-2">
                        <div class="l-box">
                            <h3>¿Cómo agrego un propósito?</h3>
                            <p>
                                Bien fácil. Al lado de cada vinculación hay un pequeño botón con un signo +, haces click ahí y agregas cuantos propósitos desees.
                            </p>
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="l-box">
                            <h3>¿Que pasa si olvido mi contraseña?</h3>
                            <p>
                                No te preocupes, <a href="/accounts/password/reset">haz click aquí</a> para restablecer tu contraseña.
                            </p>
                        </div>
                    </div>

                    <div class="pure-u-1-2">
                        <div class="l-box">
                            <h3>¿Como edito mi perfil?</h3>
                            <p>
                              En el menú horizontal de arriba, encontrarás una pestaña que dice "Mi Perfil" o <a href="/accounts/profile/">haz click aqui</a>. Puedes configurar tu ideal personal, tu fecha de nacimiento, y ver tu contrato pedagógico que completaste al comienzo.
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="l-box">
                            <h3>¿Como agrego/edito mi propósito particular?</h3>
                            <p>
                               Arriba de la "planilla" encontrarás tu ideal personal y el propósito particular del mes. Si no agregaste ninguno aún te aparecerá un botón con el signo +, haz click ahí y agrega tu propósito particular. Si ya completaste y quieres editarlo, simplemente haz doble click.
                            </p>
                        </div>
                    </div>

                    <div class="pure-u-1-2">
                        <div class="l-box">
                            <h3>¿Cómo agrego mi ideal personal?</h3>
                            <p>
                                Haz click en la pestaña "Mi Perfil", ubicada en el menú horizontal de arriba y en el primer campo encontrarás la opción "Ideal Personal". Recuerda hacer click en el botón "actualizar".
                            </p>
                        </div>
                    </div>



                    <div class="pure-u-1 l-centered">
                        <center><a href="http://blog.agenvida.com/ask" target="_blank"><img src="{{STATIC_URL}}img/preguntanos.jpg"></a></center>
                    </div>
                  </div>
                  <div class="pure-g-r grid-example">

                    
                       <div class="pure-u-1-2">
                        <div class="l-box">
                            <h3>Contacto</h3>
                            <h4>Mails</h4>
                              <a href="mailto:agenvida@gmail.com" target="_top"><p>agenvida@gmail.com</p></a>
                              <p>Gisse: <a href="mailto:gisse.peralta@gmail.com" target="_top">gisse.peralta@gmail.com</a></p>
                              <p>Rodri: <a href="mailto:rodri.valdez@gmail.com" target="_top">rodri.valdez@gmail.com</a></p>
                        </div>
                    </div>

                    <div class="pure-u-1-2">
                        <div class="l-box">
                            <a href="http://www.facebook.com/agenvida"><img class='img-redes'src="{{STATIC_URL}}img/logofb.png"></a>
                            <a href="http://www.twitter.com/agenvida"><img class='img-redes' src="{{STATIC_URL}}img/logotw.png"></a>
                            
                        </div>
                    </div>
                    
                      

                  </div>

              </div>
              </div>
             
            </div>
    </div>
       

    <div class="footer">
            Agenvida - Creado por @GisseJo y @Rodrivaldez5
        </div>
    </div>
</body>
</html>