<!DOCTYPE HTML> <!-- Creado por @GisseJo y @RodriValdez5 para @Agenvida -->
<html lang='es'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Agenvida</title>
<link rel="icon" 
      type="image/png" 
      href="{{STATIC_URL}}img/agenvidaicono.png">

	<link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/table4.css" type="text/css" media="screen" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>
	
	   
</head>



   
				      
	<body background="{{STATIC_URL}}img/fondos14.jpg" class="bg">
	<nav class="clearfix">  
		<ul class="clearfix">  
			<li class="logo" ><img class='imagen-logo' src="{{STATIC_URL}}img/agenvidaicono.png" alt="Agenvida"></li>
		    <li><a href="/cerrar">Cerrar</a></li>
			<li><a href="/accounts/profile">Profile</a></li>
			<li><a href="#">Facebook</a></li>  
			<li><a href="#">Twitter</a></li>  
			<li><a href="#">Contacto</a></li>
		    <li><a href="#">About</a></li>     
		</ul>  
		<a href="#" id="pull">Menu</a>  
	</nav>  


{% block sidebar %} {%endblock%}
{% block topbar%}{%endblock%}
{% block vinculaciones%}  {%endblock%}
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/underscore.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/backbone.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/backbone-relational.js"></script>

	<script type="text/javascript" src="{{STATIC_URL}}js/proposito.js"></script>
	



				
				</div>
			</section>
		</div>
	</section>

	<div id="footer">
		<label for="startDate">Date :</label>
    <div name="startDate" id="startDate" class="date-picker" ></div>
    <div id='fecha' ></div>
    
	  <p>Agenvida - el horario espiritual online</p>
	    <p>Creado por <a id="link" href="http://twitter.com/GisseJo">@GisseJo</a> y <a id="link" href="http://twitter.com/rodrivaldez5">@rodrivaldez5</a>
	    </p>
	    <p>Copyright (c) 2013</p>
	</div>

</body>
</html>

