<!DOCTYPE HTML> <!-- Creado por @GisseJo y @RodriValdez5 para @Agenvida -->
<html lang='es'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/table4.css" type="text/css" media="screen" />

	


	
<!--/////////////// PARA CAMBIAR EL MES////////////////////////////////////-->	


<style>
.ui-datepicker-calendar {
    display: none;
   
    }

      #fecha {visibility:hidden;}

      .ui-datepicker-inline{
      	z-index:-1;
      	 position: relative;
      }
</style>


<!-- ////////////////////////////////////////////////// -->	

</head>



   
				      
	<body background="{{STATIC_URL}}img/fondos14.jpg" class="bg">
	<nav class="clearfix">  
		<ul class="clearfix">  
			<li class="logo" ><img class='imagen-logo' src="{{STATIC_URL}}img/agenvidaicono.png" alt="Agenvida"></li>
		    <li><a href="/cerrar">Cerrar</a></li>
			<li><a href="/accounts/profile">Profile</a></li>
			<li><a href="#">Facebook</a></li>  
			<li><a href="#">Twitter</a></li>  
			<li><a href="#">Contacto</a></li>
		    <li><a href="#">About</a></li>     
		</ul>  
		<a href="#" id="pull">Menu</a>  
	</nav>  


{% block sidebar %} {%endblock%}
{% block topbar%}{%endblock%}
{% block vinculaciones%}  {%endblock%}
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/underscore.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/backbone.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/backbone-relational.js"></script>

	<script type="text/javascript" src="{{STATIC_URL}}js/proposito.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
<script type="text/javascript">
$(function() {
    $('.date-picker').datepicker( {
        changeMonth: false,
        changeYear: false,
        showButtonPanel: false,
        dateFormat: 'mm-yy',
            onChangeMonthYear:function(y, m, i){                                
        var d = i.selectedDay;
        $(this).datepicker('setDate', new Date(y, m-1, d));
        $('#fecha').html(y+'/'+m);
       // window.location.replace("/#algo");
		window.location.hash = 'fecha/'+ y +'/'+m;
    }

    });
});
</script>
	



				
				</div>
			</section>
		</div>
	</section>

	<div id="footer">

	  <p>Agenvida - el horario espiritual online</p>
	    <p>Creado por <a id="link" href="http://twitter.com/GisseJo">@GisseJo</a> y <a id="link" href="http://twitter.com/rodrivaldez5">@rodrivaldez5</a>
	    </p>
	    <p>Copyright (c) 2013</p>
	</div>

</body>
</html>

