<!DOCTYPE html>
<!-- Creado por @GisseJo y @Rodrivaldez5 2013 -->
<html lang="es">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Horario espiritual online">
    <title>Agenvida - El Horario Espiritual Online</title>
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">-->
    <link rel="stylesheet" href="./css/pure/marketing.css" type="text/css" media="screen" />
    <!--<link rel="stylesheet" href="http://purecss.io/combo/1.6.3?/css/layouts/marketing.css">-->
    <link rel="stylesheet" href="./css/pure/pure.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./css/main4.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./css/checkbox.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="css/table4.css" type="text/css" media="screen" />
    <script async="" src="./layout pure_files/analytics.js"></script><script src="./layout pure_files/gis6vng.js"></script>
        <style type="text/css">.header h1,.hero h1,.hero h2,.tk-omnes-pro{font-family:"omnes-pro",sans-serif;}</style>
    <link rel="stylesheet" href="./fonts.css" type="text/css" media="screen" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
<script>
        $(function() {
            var pull        = $('#pull');
                menu        = $('nav ul');
                menuHeight  = menu.height();

            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>    
    <script type="text/javascript">
        function toggle_visibility(id) {
                    var e = document.getElementById(id);
                    if(e.style.display == '')
                        e.style.display = 'none';
                    else
                        e.style.display = '';
                }
    </script>   
    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
                changeMonth: false,
                changeYear: false,
                showButtonPanel: false,
                dateFormat: 'mm-yy',
                    onChangeMonthYear:function(y, m, i){                                
                var d = i.selectedDay;
                $(this).datepicker('setDate', new Date(y, m-1, d));
                $('#fecha').html(y+'/'+m);
               // window.location.replace("/#algo");
        window.location.hash = y+'-'+m;
            }

            });
        });
</script>
<style>
.ui-datepicker-calendar {
    display: none;
    padding: 0;

    }

.ui-datepicker {
    width: 100%;
    padding: 0;
}

.ui-datepicker-inline {
   z-index: 2;

}

      #fecha {visibility:hidden;}

      .create-button {
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;

}

/**600**/
    @media screen and (max-width: 600px) {  
        .menu-izq {
          display: none;
        }
        .datagrid {
          margin-top: 10%;
        }
      
    }  

/**480px o menos**/

    @media only screen and (max-width : 480px) {  
        .menu-izq {
          display: none;
        }       
        .datagrid {
          margin-top: 1%;
        }
    
    } 


    @media only screen and (max-width : 320px) {  
       .menu-izq {
          display: none;
        }
    }  

</style>
</head>
<body>
    
    <nav class="clearfix">  
        <ul class="clearfix">  
            <li class="logo"><img class='imagen-logo' src="./img/agenvidaicono.png" alt="Agenvida"></li>
            
            <li><a href="">Hola Firstn</a></li>  
            <li><a href="#">Sugerencias</a></li>
            <li><a href="#">Reporte</a></li>  
            <li><a href="#">Profile</a></li>  
            <li><a href="#">Cerrar</a></li>  
        </ul>  
        <a href="#" id="pull">Menu</a>
    </nav>


    <div class="splash">
            <div class="pure-g-r">
                <div class="pure-u-1-5">
                    <div id="contenido1"> 
                        <div class="menu-izq">
                            <h3>Menu Izq</h3>
                                <ul>
                                    <li><a href="#">Horario Espiritual</a></li>
                                    <li><a href="#">Mes</a></li>
                                    <li><a href="#">Año</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Mensual</a></li>
                                    <li><a href="#">Semanal</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Ofrecimientos</a></li>
                                    <li><a href="#">Reflexion diaria</a></li>
                                </ul>
                        </div>
                    </div>
                </div>

    
                <div class="pure-u-4-5">
                    
                            <div class="datagrid">
                                <div class="pure-u-1">
                                    <table class="cabecera">
                                        <tr>
                                        <th>Ideal Personal</th>
                                        <td> IF </td>
                                        </tr>

                                        <tr><th>Proposito Particular</th>
                                        <td>alegria</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="pure-u-1">
                                    <div name="startDate" id="startDate" class="date-picker" ></div>                                        
                                </div>
                                <div class='datagrid'>
                                <table >
                                  <thead>
                                    <tr>       
                                      <th class='vinculacion'>Vinculacion</th> 
                                      <th>01</th>           
                                      <th>02</th>
                                      <th>03</th>
                                      <th>04</th>
                                      <th>05</th>
                                      <th>06</th>
                                      <th>07</th>
                                      <th>08</th>                   
                                      <th>09</th>
                                      <th>10</th>
                                      <th>11</th> 
                                      <th>12</th>
                                      <th>13</th> 
                                      <th>14</th>
                                      <th>15</th> 
                                      <th>16</th>
                                      <th>17</th> 
                                      <th>18</th>
                                      <th>19</th> 
                                      <th>20</th> 
                                      <th>21</th> 
                                      <th>22</th> 
                                      <th>23</th> 
                                      <th>24</th> 
                                      <th>25</th> 
                                      <th>26</th> 
                                      <th>27</th>
                                      <th>28</th>
                                      <th>29</th>
                                      <th>30</th>
                                      <th>31</th>
                                    </tr>
                                  </thead>

                                   <tbody >
                                        <tr id="alt">
                                            <th class='vinculacion' scope="rowgroup" colspan="4">
                                                <a href="#" onclick="toggle_visibility('Diosproposito')">Con Dios</a>
                                            <button class="pure-button create-button">+</button>
                                            </th> 

                                        </tr>
                                    </tbody>
                                    
                                    <tbody id="Diosproposito" style='display:none;'>    
                                        <tr>
                                          <th class='vinculacion'>Proposito 1</th>
                                          
                                
                                          <td><input id="demo_box_1" class="css-checkbox" type="checkbox"/><label for="demo_box_1" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_2" class="css-checkbox" type="checkbox"/><label for="demo_box_2" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_3" class="css-checkbox" type="checkbox"/><label for="demo_box_3" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_4" class="css-checkbox" type="checkbox"/><label for="demo_box_4" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_5" class="css-checkbox" type="checkbox"/><label for="demo_box_5" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_6" class="css-checkbox" type="checkbox"/><label for="demo_box_6" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_7" class="css-checkbox" type="checkbox"/><label for="demo_box_7" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_8" class="css-checkbox" type="checkbox"/><label for="demo_box_8" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_9" class="css-checkbox" type="checkbox"/><label for="demo_box_9" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_10" class="css-checkbox" type="checkbox"/><label for="demo_box_10" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_11" class="css-checkbox" type="checkbox"/><label for="demo_box_11" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_12" class="css-checkbox" type="checkbox"/><label for="demo_box_12" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_13" class="css-checkbox" type="checkbox"/><label for="demo_box_13" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_14" class="css-checkbox" type="checkbox"/><label for="demo_box_14" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_15" class="css-checkbox" type="checkbox"/><label for="demo_box_15" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_16" class="css-checkbox" type="checkbox"/><label for="demo_box_16" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_17" class="css-checkbox" type="checkbox"/><label for="demo_box_17" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_18" class="css-checkbox" type="checkbox"/><label for="demo_box_18" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_19" class="css-checkbox" type="checkbox"/><label for="demo_box_19" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_20" class="css-checkbox" type="checkbox"/><label for="demo_box_20" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_21" class="css-checkbox" type="checkbox"/><label for="demo_box_21" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_22" class="css-checkbox" type="checkbox"/><label for="demo_box_22" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_23" class="css-checkbox" type="checkbox"/><label for="demo_box_23" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_24" class="css-checkbox" type="checkbox"/><label for="demo_box_24" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_25" class="css-checkbox" type="checkbox"/><label for="demo_box_25" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_26" class="css-checkbox" type="checkbox"/><label for="demo_box_26" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_27" class="css-checkbox" type="checkbox"/><label for="demo_box_27" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_28" class="css-checkbox" type="checkbox"/><label for="demo_box_28" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_29" class="css-checkbox" type="checkbox"/><label for="demo_box_29" name="demo_lbl_1" class="css-label"></label></td>
                                          <td><input id="demo_box_30" class="css-checkbox" type="checkbox"/><label for="demo_box_30" name="demo_lbl_1" class="css-label"></label></td>
                                        </tr>
                                
                                        
                                    </tbody>

                                    <tbody>
                                        <tr>
                                          <th class='vinculacion' scope="rowgroup" colspan="9">
                                            <a href="#" onclick="toggle_visibility('yoproposito')">Conmigo</a>
                                            <button class="pure-button create-button">+</button>
                                          </th> 
                                        </tr>
                                    </tbody>

                                    <tbody id="yoproposito" style='display:none;'>
                                        <tr>
                                          <th class='vinculacion'>Proposito 1</th>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                        </tr>
                                        
                                        <tr>
                                          <th class='vinculacion'>Proposito 2</th>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                        </tr>
                                        
                                       
                                    </tbody>

                                    <tbody >
                                        <tr>
                                          <th class='vinculacion' scope="rowgroup" colspan="4">
                                            <a href="#" onclick="toggle_visibility('demasproposito')">Con los demas</a>
                                            <button class="pure-button create-button">+</button>
                                          </th> 
                                        </tr>
                                    </tbody>
                                    
                                    <tbody id="demasproposito" style='display:none;'>
                                        <tr>
                                          <th>Proposito 1</th>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                        </tr>
                                
                                       
                                    </tbody>

                                    <tbody >
                                        <tr>
                                          <th class='vinculacion' scope="rowgroup" colspan="4">
                                            <a href="#" onclick="toggle_visibility('cosasproposito')">Con las cosas</a>
                                            <button class="pure-button create-button">+</button>
                                            </th> 
                                        </tr>
                                    </tbody>
                            
                                    <tbody id="cosasproposito" style='display:none;'>
                                        <tr>
                                          <th>Proposito 1</th>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                          <td><input name="elemento1" type="checkbox" value="1" class="ck"/></td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>  
                                </div>
                            </div>
                    
                </div>   
            </div>
    </div>
       

    <div class="footer" >
            Agenvida - Creado por @GisseJo y @Rodrivaldez5
        </div>
        <!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('9969-229-10-9980');/*]]>*/</script><noscript><a href="https://www.olark.com/site/9969-229-10-9980/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
    
</body>
</html>