<!DOCTYPE html>
<html lang="es">
    <head>
       	<meta charset="utf-8"/>
		<title></title>
		<style>
		

		body {
			background-color: #BDBFC1
		}

		span {
			font-size: 0.7em;
			font-family: sans-serif;
		}

		</style>
    </head>
    <body style="background-color: #BDBFC1">
       <center>
       <a href="http://www.agenvida.com/he/"><img src="http://www.agenvida.com/static/img/controlheemail.png" alt="Hola! Es hora de controlar tu horario espiritual!" style="width:70%; display:block;"></a></br>
       <a href="http://www.agenvida.com/he/" style=
       'width=100%;
       display:block; background: #6E4D8B;
color: #fff; 
font-size: 100%;
padding: 0.5em 1.5em 0.5em;
color: #444;
color: rgba(0, 0, 0, 0.80);
border: 1px solid #999;
border: none rgba(0, 0, 0, 0);
background-color: #E6E6E6;
text-decoration: none;
border-radius: 2px;
-webkit-transition: 0.1s linear -webkit-box-shadow;
-moz-transition: 0.1s linear -moz-box-shadow;
-ms-transition: 0.1s linear box-shadow;
-o-transition: 0.1s linear box-shadow;
transition: 0.1s linear box-shadow;
display: inline-block;
zoom: 1;
line-height: normal;
white-space: nowrap;
vertical-align: baseline;
text-align: center;
cursor: pointer;
-webkit-user-drag: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
font-family: sans-serif;'>Controlar mi horario espiritual</a></br>
       <span style="display:block;font-size: 0.7em;
			font-family: sans-serif;"><a href="http://www.agenvida.com/accounts/profile/">Configurar el recordatorio por mail</a></span> | <span style="display:block;font-size: 0.7em;
			font-family: sans-serif;">ayuda: <a href="mailto:info@agenvida.com">info@agenvida.com</a></span>
       </center>

	</body>
</html>