<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>Prueba Fuentes</title>
			<link rel="stylesheet" href="http://localhost:8000/static/css/style-fonts.css">
	</head>
	<body>
	    <header class="cabecera">
	    	<nav class="menu">
	    		<li><span class="icon-glabsfacebook"></span><a href="#"></a></li>
	    		<li><span class="icon-glabstwitter"></span><a href="#"></a></li>
	    		<li><span class="icon-glabssignin"></span><a href="#"></a></li>
	    	</nav>
		</header>
		<section>
			<div class="titulo">
				<h1>Aca dice algo importante</h1>
					<h3>Aca algo menos importante</h3>
			</div>
			<div class="articulo">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, pariatur, dolores, repudiandae consectetur iste eos voluptates libero voluptatem fugiat incidunt id quibusdam quis odit expedita molestiae dolorem animi omnis recusandae. </p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, minus, iste, eos velit atque praesentium repellendus fugit magnam eveniet minima iure enim veniam quo accusamus temporibus amet consequuntur dolorum possimus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, architecto esse repellat vitae voluptatem soluta ratione! Quos, asperiores, beatae iste ipsam dolore quam excepturi libero dolorem velit optio id cupiditate?</p>
			</div>
		</section>
		<footer>
			<span>Probando los benditos iconos</span>
		</footer>
	</body>
</html>
