<!DOCTYPE HTML> <!-- Creado por @GisseJo y @RodriValdez5 para @Agenvida -->
<html lang='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Agenvida</title>
<link rel="icon" 
      type="image/png" 
      href="{{STATIC_URL}}img/agenvidaicono.png">

    <link rel="stylesheet" href="{{STATIC_URL}}css/pure/marketing.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/pure/pure.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/main4.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style-fonts.css">
     <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>
    <script>
        $(function() {
            var pull        = $('#pull');
                menu        = $('nav ul');
                menuHeight  = menu.height();

            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
  <style type="text/css">
   #ui-datepicker-div {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 70%;
  width: 15%;
  top: 205px;
  }
  </style>
  <script type="text/javascript">

  $(function() {
    $( "#id_fecha_nacimiento" ).datepicker({

      changeMonth: true,
      changeYear: true,
      yearRange: "-80: +0",
      dateFormat: 'yy-mm-dd',

      beforeShow: function (input, inst) {
        setTimeout(function () {
            inst.dpDiv.css({
                top: 205,
                
            });
        }, 0);
    }
    });

  });
  
  </script>
    <style>
.formulario {
  margin-left: 22%;
}

}
  /**600**/
    @media screen and (max-width: 600px) {  
    
      
    }  

/**480px o menos**/

    @media only screen and (max-width : 480px) {  
      
    } 


    @media only screen and (max-width : 320px) {  
      
    }  
}
</style>
</head>

<body>
    <nav class="clearfix">  
        <ul class="clearfix">  
            <li class="logo"><img class='imagen-logo' src="{{STATIC_URL}}img/agenvidaicono.png" alt="Agenvida"></li>
            
            <li><a href="" title="Hacé click en la ruedita para configurar tu nombre.">Hola {{request.user.first_name}}</a></li>  
            <li><a href="/he/" ><span class="icon-glabstime" id="icon-menu"></a></li>
            <li><a href="/sugerencias/" title="Ayudanos a seguir mejorando.">Sugerencias</a></li>  
            <li><a href="/accounts/profile" title="Para editar tu perfil"><span class="icon-glabsuser" id="icon-menu"></a></li>  
            <li><a href="/accounts/settings" title="Configura tu cuenta"><span class="icon-glabscog" id="icon-menu"></span></a></li>
            <li><a href="/cerrar"><span class="icon-glabsremove" id="icon-menu"></span></a></li>  
        </ul>  
        <a href="#" id="pull">Menu</a>
    </nav>

    <div class="splash">
            <div class="pure-g-r">
              
              <div class="pure-u-1 formulario">
              <div data-configid="9542581/5180048" style="width: 800px; height: 600px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
       

    <div class="footer">
            Agenvida - Creado por <a href="http://twitter.com/gissejo">@GisseJo</a> y <a href="http://twitter.com/rodrivaldez5">@Rodrivaldez5</a></br>
<a href="http://agenvida.com/about">Sobre</a> - <a href="http://agenvida.com/contacto">Contacto</a> - <a href="http://blog.agenvida.com">Blog</a> - <a href="http://facebook.com/agenvida">Facebook</a> - <a href="http://twitter.com/agenvida">Twitter</a>
        </div>
    </div>
</body>
</html>