{% extends "dashboard.html" %}
	
	
	{% block contenido %}  
     <div class="splash">
            <div class="pure-g-r">
                <div class="pure-u-1-5">
                    <div id="contenido1"> 
                        <div class="menu-izq">
                            <h3>Menu</h3>
                                <ul>
                                    <li><a href="/he" title="Tu horario Espiritual"><span class="icon-glabstime" id="icon-sidebar"></span>Horario Espiritual</a></li>
                                    <li><a href="http://evangeliodeldia.org/" title="Alimento para el alma" target="_blank"><span class="icon-glabscalendar" id="icon-sidebar"></span>Evangelio del dia</a></li>
                                    <li><a href="http://blog.agenvida.com" title="En el blog de Agenvida" target="_blank"><span class="icon-glabscomment" id="icon-sidebar"></span>Meditacion del evangelio</a></li>
                                    <li><a href="http://www.schoenstatt.org/es/?page=p-kentenich-tel" title="Frases del PJK" target="_blank"><span class="icon-glabsphone" id="icon-sidebar"></span>Telefono del Padre</a></li>
                                    <li><a href="/hep/" title="Hacia el Padre" target="_blank"><span class="icon-glabsbook" id="icon-sidebar"></span>Oraciones</a></li>
                                    <li><a href=""><span class="icon-glabsdownload-alt" id="icon-sidebar"></span>Descargar Reporte</a>
                                    
                                    
                                </ul>
                        </div>
                    </div>
                </div>

    
                <div class="pure-u-4-5">
                    
                            <div class="datagrid">
                                <div class="pure-u-1">
                                    <table class="cabecera">
                                        <tr>
                                        <th>Ideal Personal</th>
                                        <td> {{ ideal_personal}} </td>
                                        </tr>

                                        <tr><th>Proposito Particular</th>
                                        <td id='pparticular' title="Hace click/dobleclick para agregar/editar tu proposito particular"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="pure-u-1">
                                    <div name="startDate" id="startDate" class="date-picker" title="Podes ver tu he de todos los meses" ></div>                                        
                                </div>
                                <div class='datagrid he' id='vinculaciones'>                                                          
                                </div>
                            </div>
                    
                </div>   
            </div>
    </div>{%endblock%}
{%block vinculaciones %}


<script id='vinculacionesCabeceraTemplate' type="text/javascript">
<thead>
                            <tr>       
                              <th class='vinculacion'>Vinculacion</th> 
                              <th>01</th>           
                              <th>02</th>
                              <th>03</th>
                              <th>04</th>
                              <th>05</th>
                              <th>06</th>
                              <th>07</th>
                              <th>08</th>                   
                              <th>09</th>
                              <th>10</th>
                              <th>11</th>                              
                              <th>12</th>
                              <th>13</th> 
                              <th>14</th>
                              <th>15</th> 
                              <th>16</th>
                              <th>17</th> 
                              <th>18</th>
                              <th>19</th> 
                              <th>20</th> 
                              <th>21</th> 
                              <th>22</th> 
                              <th>23</th> 
                              <th>24</th> 
                              <th>25</th> 
                              <th>26</th> 
                              <th>27</th>
                              <th>28</th>
                              <th>29</th>
                              <th>30</th>
                              <th>31</th>

                            </tr>
</thead>
</script>
<script id="vinculacionTemplate" type="text/template">
     <tr id="alt" class="pure-table-odd">
         <td class='vinculacion' scope="rowgroup" colspan="32">
               <strong id='vinc'><%= vinculacion %></strong>
               <button class="pure-button" id="create-button" title="Agregar proposito">+</button>
         </td> 
     </tr>
    
</script>
	<script id="propositoTemplate" type="text/template" >
          <th><%= proposito %><button class="pure-button" id="delete-button" title="Eliminar proposito">x</button></th>  
          <td><input id="01"  name="elemento1" type="checkbox" value="1" class="ck" /></td>
          <td><input id="02" name="elemento2" type="checkbox" value="1" class="ck"/></td>
          <td><input id="03" name="elemento3" type="checkbox" value="1" class="ck"/></td>
          <td><input id="04"name="elemento4" type="checkbox" value="1" class="ck"/></td>
          <td><input id="05" name="elemento5" type="checkbox" value="1" class="ck"/></td>
          <td><input id="06" name="elemento6" type="checkbox" value="1" class="ck"/></td>
          <td><input id="07" name="elemento7" type="checkbox" value="1" class="ck"/></td>
          <td><input id="08" name="elemento8" type="checkbox" value="1" class="ck"/></td>
          <td><input id="09" name="elemento9" type="checkbox" value="1" class="ck"/></td>
          <td><input id="10" name="elemento10" type="checkbox" value="1" class="ck"/></td>
          <td><input id="11" name="elemento11" type="checkbox" value="1" class="ck"/></td>
          <td><input id="12" name="elemento12" type="checkbox" value="1" class="ck"/></td>
          <td><input id="13" name="elemento13" type="checkbox" value="1" class="ck"/></td>
          <td><input id="14" name="elemento14" type="checkbox" value="1" class="ck"/></td>
          <td><input id="15" name="elemento15" type="checkbox" value="1" class="ck"/></td>
          <td><input id="16" name="elemento16" type="checkbox" value="1" class="ck"/></td>
          <td><input id="17" name="elemento17" type="checkbox" value="1" class="ck"/></td>
          <td><input id="18" name="elemento18" type="checkbox" value="1" class="ck"/></td>
          <td><input id="19" name="elemento19" type="checkbox" value="1" class="ck"/></td>
          <td><input id="20" name="elemento20" type="checkbox" value="1" class="ck"/></td>
          <td><input id="21" name="elemento21" type="checkbox" value="1" class="ck"/></td>
          <td><input id="22" name="elemento22" type="checkbox" value="1" class="ck"/></td>
          <td><input id="23" name="elemento23" type="checkbox" value="1" class="ck"/></td>
          <td><input id="24" name="elemento24" type="checkbox" value="1" class="ck"/></td>
          <td><input id="25" name="elemento25" type="checkbox" value="1" class="ck"/></td>
          <td><input id="26" name="elemento26" type="checkbox" value="1" class="ck"/></td>
          <td><input id="27" name="elemento27" type="checkbox" value="1" class="ck"/></td>
          <td><input id="28" name="elemento28" type="checkbox" value="1" class="ck"/></td>
          <td><input id="29" name="elemento29" type="checkbox" value="1" class="ck"/></td>
          <td><input id="30" name="elemento30" type="checkbox" value="1" class="ck"/></td>
          <td><input id="31" name="elemento31" type="checkbox" value="1" class="ck"/></td>
          
</script>

	<script id="marcacionTemplate" type="text/template">
    <strong><%= cumplimiento %></strong>  
</script>

</script>

     <script id="pparticularTemplate" type="text/template">
    <strong><%= nombre %></strong> 
</script>

   <script id="pparticularVacioTemplate" type="text/template">
    <button class="pure-button" id="create-button-pparticular">+</button>
</script>





	<div id="vinculaciones"></div>


	<div id="propositos"></div>
	<table id="vinculaciones2"></table>


{% endblock %}