<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Sample forum</title>
	
</head>

<body>
<!-- JavaScript -->

<script id="vinculacionTemplate" type="text/template">

    <strong><%= vinculacion %>(<%= id %>) </strong>  <button class="create">Create</button><button class="edit">Edit</button>
</script>

<script id="propositoTemplate" type="text/template">
    <th><%= proposito %><button class="delete">X</button></th>  
           <td><input id="01"  name="elemento1" type="checkbox" value="1" class="ck" /></td>
          <td><input id="02" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="03" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="04"name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="05" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="06" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="07" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="08" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="09" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="10" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="11" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="12" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="13" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="14" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="15" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="16" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="17" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="18" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="19" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="20" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="21" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="22" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="23" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="24" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="25" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="26" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="27" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="28" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="29" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="30" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          <td><input id="31" name="elemento1" type="checkbox" value="1" class="ck"/></td>
          
</script>

<script id="marcacionTemplate" type="text/template">
    <strong><%= cumplimiento %></strong>  
</script>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/underscore.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/backbone.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/backbone-relational.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/proposito.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/prueba.js"></script>


<table>


</table>
<div id="vinculaciones"></div>


<div id="propositos"></div>



</body>
</html>
