<!DOCTYPE HTML> <!-- Creado por @GisseJo y @RodriValdez5 para @Agenvida -->
<html lang='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/pure/marketing.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/pure/pure.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/main4.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
     <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>
    <script>
        $(function() {
            var pull        = $('#pull');
                menu        = $('nav ul');
                menuHeight  = menu.height();

            $(pull).on('click', function(e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(window).resize(function(){
                var w = $(window).width();
                if(w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
  <style type="text/css">
   #ui-datepicker-div {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 70%;
  width: 15%;
  top: 205px;
  }
  </style>
  <script type="text/javascript">

  $(function() {
    $( "#id_fecha_nacimiento" ).datepicker({

      changeMonth: true,
      changeYear: true,
      yearRange: "-80: +0",
      dateFormat: 'yy-mm-dd',

      beforeShow: function (input, inst) {
        setTimeout(function () {
            inst.dpDiv.css({
                top: 205,
                
            });
        }, 0);
    }
    });

  });
  
  </script>
    <style>
.formulario {
  margin-left: 22%;
}

}
  /**600**/
    @media screen and (max-width: 600px) {  
    
      
    }  

/**480px o menos**/

    @media only screen and (max-width : 480px) {  
      
    } 


    @media only screen and (max-width : 320px) {  
      
    }  
}
</style>
</head>

<body>
    <nav class="clearfix">  
        <ul class="clearfix">  
            <li class="logo"><img class='imagen-logo' src="{{STATIC_URL}}img/agenvidaicono.png" alt="Agenvida"></li>
            
            <li><a href="">Hola {{nombre}}</a></li>  
            <li><a href="/he" >HE</a></li>
            <li><a href="/accounts/profile" title="Ayudanos a seguir mejorando.">Sugerencias</a></li>  
            <li><a href="/accounts/settings" title="Configura tu cuenta">Configuracion</a></li>
            <li><a href="/accounts/profile" title="Para editar tu perfil">Mi Perfil</a></li>  
            <li><a href="/cerrar">Cerrar</a></li>  
        </ul>  
        <a href="#" id="pull">Menu</a>
    </nav>

    <div class="splash">
            <div class="pure-g-r wrapper">
              
              <div class="pure-u-1 formulario">
              <iframe src="https://docs.google.com/forms/d/13P8q1C_XzZDqzOU7cDUmbNNpGDC-F4WICQKRWQI5c68/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
              </div>
    </div>
    <script type="text/javascript" src="scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="../jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

    <div class="footer">
            Agenvida - Creado por @GisseJo y @Rodrivaldez5
        </div>
    </div>
</body>
</html>