{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/table4.css" type="text/css" media="screen" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
  <body  background="{{STATIC_URL}}img/fondos14.jpg" class="bg">
    <nav class="clearfix">  
    <ul class="clearfix">  
      <li class="logo" ><img class='imagen-logo' src="{{STATIC_URL}}img/agenvidaicono.png" alt="Agenvida"></li>
        <li><a href="/cerrar">Cerrar</a></li>
      <li><a href="/accounts/profile">Profile</a></li>
      <li><a href="#">Facebook</a></li>  
      <li><a href="#">Twitter</a></li>  
      <li><a href="#">Contacto</a></li>
        <li><a href="#">About</a></li>     
    </ul>  
    <a href="#" id="pull">Menu</a>  
  </nav>  


   
<section id="main">
    <div id="contenido"> 
      <section class="wrapper">
        
             {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
  {% if user.is_authenticated %}
  <li><a href="{% url 'account_email' %}">Cambiar Email E-mail</a></li>
  <li><a href="{% url 'account_logout' %}">Cerrar Sesion</a></li>
  {% else %}
  <li><a href="{% url 'account_login' %}">Ingresar</a></li>
  <li><a href="{% url 'account_signup' %}">Registrarse</a></li>
  {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

       
      </section>      
   
    <div id="footer">
    <p>Agenvida - el horario espiritual online</p>
      <p>Creado por <a id="link" href="http://twitter.com/GisseJo">@GisseJo</a> y <a id="link" href="http://twitter.com/rodrivaldez5">@rodrivaldez5</a>
      </p>
      <p>Copyright (c) 2013</p>
  </div>
  </body>
</html>
