{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}{% blocktrans %}
<h1>Te olvidaste tu contraseña?  Suele pasar.</h1>
<p>Pero no te preocupes. Escribí tu email abajo y te enviaremos instrucciones para crear una nueva.</p>
{% endblocktrans %}
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="{% trans "Reset password"  %}" /></td></tr>
</table>
</form>
{% endblock %}
