{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<h1>{% trans "Confirm E-mail Address" %}</h1>

{% user_display email_address.user as user_display %}
        
<p>{% blocktrans with email_address.email as email %}Confirmaste que esta dirección de email <a href="mailto:{{email}}">{{ email }}</a> es la dirección de email para el usuario {{ user_display }}.{% endblocktrans %}</p>

{% endblock %}
