{% extends "userprofile/login_base1.html" %}
{%block content%}

<h2>Configuracion</h2>

{%for field in form%}

{{field.error}}

{%endfor %}

<form class="pure-form pure-form-aligned" action="/accounts/settings/" method="post">
{% csrf_token%}

{{user_form.as_ul}}
<div class="pure-controls">
                        
                        <input type="submit" class="pure-button pure-button-primary" value="Actualizar"/>
                    </div>

</form>
	
		<ul>
			<li><a class="pure-button pure-button-primary" href="/accounts/email/">Cambiar E-mail</a></li>
			<li><a class="pure-button pure-button-primary" href="/accounts/password/change/">Cambiar contraseña</a></li>
		</ul>
	<h3>Proximamente</h3>
		<ul>
			<li><a class="pure-button pure-button-primary" href="">Recordatorio por mail</a></li>
			<li><a class="pure-button pure-button-primary" href="">Checkbox personalizado</a></li>
			<li><a class="pure-button pure-button-primary" href="">Plantilla personalizada</a></li>
		</ul>
{%endblock%}